biopython==1.65
coverage==3.7.1
matplotlib==1.4.3
mock==1.0.1
nose==1.3.4
nose-timer==0.4.3
numpy==1.9.1
pandas==0.16.0
pyparsing==2.0.3
python-dateutil==2.4.1
pytz==2015.2
requests==2.5.1
responses==0.3.0
scikit-learn==0.16.0
six==1.9.0
termcolor==1.1.0
scipy==0.15.1
-e git://github.com/mchelem/porter_paleale.git#egg=porter_paleale
